* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343;
}

#disclaimer {
  text-decoration: solid underline;
  color: grey;
  background-color: yellow;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

#profile-picture {
  height: 30px;
  width: 30px;
}

.profile-card {
  max-height: 200px;
  min-height: 100px;
  max-width: 400px;
  min-width: 250px;
  padding: 10px;
  margin: 20px;
  background-image: linear-gradient(to left, #ff69b4, #ffc0cb);
  border: 1px solid #f9629f;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

a {
  color: green;
  text-decoration: none;
}
